streamlit
fpdf
tiktoken

langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52

langchain-chroma
langchain-groq
chromadb
protobuf

sentence-transformers

# 🔥 FORCE SAFE VERSION
pydantic==1.10.13

# 🚫 BLOCK spacy completely

spacy==0.0.0